/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}   
/*  */

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
    height: auto;
}

*::before,*::after{
    box-sizing: border-box;
}
*{
    font-family: Noto Sans;
}

/* mycode */

/* 1920px */

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1296px;
    margin-bottom: 50px;
    
    img{
        border: 1px solid #F1F1F1;
        border-radius: 8px;
        margin-bottom: 16px;
    }
    .card_content{
        margin-bottom: 80px;
        .card_contentTitle{
            h3{
                font-size:28px ;
                font-weight: 700;
                line-height:33.6px;;
                margin-bottom: 8px;
            }
            p{
                line-height: 24px;
                color: #919191;
                margin-bottom: 24px;
            }
            ul{
                display: flex;
                li{
                    background-color: #F1F1F1; 
                    border-radius: 16px;
                    margin-right: 16px;
                    line-height: 24px;
                    padding: 4px 12px;
                }
            }
        }
    }

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
    .menu{
        display: flex;
        justify-content: center;
        a{
            padding: 20px;
        }
    }
    .showmenu{
       visibility: hidden;
       width: 50px;
    }
}
.banner{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 118px;
    .banner_upper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        .quote_left{
            padding-bottom: 100px;
        }
        .quote_right{
            padding-top: 100px;
        }

    }
    .banner_lower{
        display: flex;
        justify-content: center;
        text-align: center;
        gap:0px 40px;
        .banner_lowerItem{
            width: 37%;
            h3{
                margin-bottom: 12px;
            }
            p{line-height: 24px;}
        }
    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1296px;
    margin:0 auto;
    div{
        width: 20%;
    }
}

.footer_contentBtn a{
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 20px;
    /* vertical-align: middle;  */
    /* ↑垂直致中待確認 */
    img{
        vertical-align: middle;
    }
}

.menu a:hover, footer a:hover{
    background-color: black;
    color: white;
}

/* phone */

@media(max-width:767px){
    header {
        .menu{
            /* flex-direction: column;
            align-items: center; */
            display: none;
        }
        .showmenu{
            visibility: visible;
        } 
    }
    .card{ 
        li{
            width: 100%;
        } 
    }
    footer{
        display: flex;
        flex-direction: column;
        div{
            width: 70%;
        }
    }
    .banner_lower{
        flex-direction: column;
        align-items: center;
        .banner_lowerItem{
            margin-bottom: 20px;
        }
    }
}
